extends layout

block content
    div.main-container
        div.container
            div.col-md-6.col-sm-6
                div.blog-admin-summary
                    div.blog-admin-summary-title
                        span 概括
                    div.blog-admin-summary-content
                        div.row
                            div.col-md-6
                                a(href="#")
                                    span 7
                                    |篇文章
                            div.col-md-6
                                a(href="#")
                                    span 7
                                    |个页面
                            div.col-md-6
                                a(href="#")
                                    span 8
                                    |条评论
                            div.col-md-6
                                a(href="#")
                                    span 7
                                    |分类目录
                            div.col-md-6
                                a(href="#")
                                    span 7
                                |标签
                div.blog-admin-commit
                    div.blog-admin-commit-title
                        span 评论
                    div.blog-admin-commit-content
                        p 待开发中！@__@

