extends layout

block content
  div.wrapper.main-content
    div.container
      div.col-md-8.col-sm-8
        div.post-para-blog
          div.blog-show-img
            img(src="http://scottbrown.co.nz/wp-content/uploads/2016/05/fracture-1024x655.jpg" style="width:100%;")
          div.blog-show-tips
            h3.blog-tips-title 怎么样很好利用nodejs完成项目
            h5.blog-tips-postTime 2016-06-16
            div.blog-tips-content
              p 当我们知道这个是偶，冰球饿的世界不要低昂的，哭泣是希望跟美丽的开始而不是结束，你渴望的是美好的结局，而我是梦幻的结局
            div.blo-tips-tags.tagcloud
              a(href="#") c# 
              a(href="#") javascript
            a(href="javascript:;").more More -->
        div.post-para-blog
          //- div.blog-show-img
          //-   img(src="http://scottbrown.co.nz/wp-content/uploads/2016/05/fracture-1024x655.jpg" style="width:100%;")
          div.blog-show-tips
            h3.blog-tips-title 怎么样很好利用nodejs完成项目
            h5.blog-tips-postTime 2016-06-16
            div.blog-tips-content
              p 当我们知道这个是偶，冰球饿的世界不要低昂的，哭泣是希望跟美丽的开始而不是结束，你渴望的是美好的结局，而我是梦幻的结局
            div.blo-tips-tags.tagcloud
              a(href="#") c# 
              a(href="#") javascript
            a(href="javascript:;").more More -->
        div.pagecontrol
          span 分页在这里设置
      div.col-md-1.col-sm-1
      div.col-md-3.col-sm-3.search-col
        div.categories
          h3 分类检索
          ul
            li.cat-item
              a(href="#") C#
              | (1)
            li.cat-item
              a(href="#") javascript
              | (2)
            li.cat-item
              a(href="#") 服务器管理
              | (3)
        div.tags.childColumn
          h3 标签
          div.tagcloud
            a(href="#") javascript
            a(href="#") javascript
            a(href="#") javascript
        div.lastPost.childColumn
          h3 最新文章
          ul
            li
              a(href="#") 如何隐晦的说出内心的话
            li
              a(href="#") javascript
            li
              a(href="#") javascript


  

