extends layout
block content
    .main-content
        .container
            .col-md-8.col-md-offset-2
                .blog-post-detail-title
                    p 你好这是标题页面

                .blog-post-detail-postTime
                    span 2016-6-13
                    sapn 阅读（4）

                .blog-post-detail-content
                    p END
