extends layout

block content
  div.wrapper
    div.banner
      div.container
        div.row
          div.banner-bg
            img(src="/images/wallhaven-128173.jpg")
            //- p 一个小心翼翼的前端之路
    div.container.context
      div.row
        div.col-md-4.col-sm-6.post-column-blog
          div.blog-post-img
            a(href="#")
              span.images-placeholder
                img(src="http://scottbrown.co.nz/wp-content/uploads/2016/05/fracture-1024x655.jpg")
              span.hover-display
                i.icon-basic-link
          div.blog-post-content-container
            div.blog-post-data June 20, 2016         
            h3.blog-post-title 
              a(href="#") NZ MUSICIAN REVIEW
            div.blog-post-excerpt
              p My latest release Fracture just got reviewed by NZ Musician Magazine, you can read it on the NZ Musician website or check it out
        div.col-md-4.col-sm-6.post-column-blog
          div.blog-post-img
            a(href="#")
              span.images-placeholder
                img(src="http://scottbrown.co.nz/wp-content/uploads/2016/05/fracture-1024x655.jpg")
              span.hover-display
                i.icon-basic-link
          div.blog-post-content-container
            div.blog-post-data June 20, 2016         
            h3.blog-post-title 
              a(href="#") NZ MUSICIAN REVIEW
            div.blog-post-excerpt
              p My latest release Fracture just got reviewed by NZ Musician Magazine, you can read it on the NZ Musician website or check it out
        div.col-md-4.col-sm-6.post-column-blog
          div.blog-post-img
            a(href="#")
              span.images-placeholder
                img(src="http://scottbrown.co.nz/wp-content/uploads/2016/05/fracture-1024x655.jpg")
              span.hover-display
                i.icon-basic-link
          div.blog-post-content-container
            div.blog-post-data June 20, 2016         
            h3.blog-post-title
              a(href="#") NZ MUSICIAN REVIEW
            div.blog-post-excerpt
              p My latest release Fracture just got reviewed by NZ Musician Magazine, you can read it on the NZ Musician website or check it out
        div.col-md-4.col-sm-6.post-column-blog
          div.blog-post-img
            a(href="#")
              span.images-placeholder
                img(src="http://scottbrown.co.nz/wp-content/uploads/2016/05/fracture-1024x655.jpg")
              span.hover-display
                i.icon-basic-link
          div.blog-post-content-container
            div.blog-post-data June 20, 2016         
            h3.blog-post-title 
              a(href="#") NZ MUSICIAN REVIEW
            div.blog-post-excerpt
              p My latest release Fracture just got reviewed by NZ Musician Magazine, you can read it on the NZ Musician website or check it out

  

